body {
  background-color: #e9e9e9;
  margin: 0;
  font-family: "Mada", Helvetica, sans-serif;
  min-width: 680px;

}

/* Debugger */

/* * {
  border: 1px solid black;
} */


/*  Header  */

header {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  min-width: inherit;
}

.images_container {
  height: 24rem;
  margin-left: 130px;
  margin-right: 130px;
  display: flex;
  overflow: hidden;
}

.header_image {
  background-repeat: no-repeat;
  background-size: cover;
  background-color: white;
  background-position: 50% 50%;
  height: auto;
  width: 8rem;
}

#img1 {
  background-image: url("../images/soccer_image1.jpeg");
}

#img2 {
  background-image: url("../images/soccer_image2.jpeg");
}

#img3 {
  background-image: url("../images/soccer_image3.jpeg");
}

#img4 {
  background-image: url("../images/soccer_image4.jpg");
}

header h2 {
  position: absolute;
  top: 290px;
  left: 0;
  right: 0;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  text-align: right;
  padding-right: 30px;
  min-width: inherit;
}


/* Navigation Bar */

nav {
  position: sticky;
  margin-top: 0;
  top: 30px;
  left: 0;
  right: 0;
  display: flex;
  height: 50px;
  justify-content: space-around;
  align-items: center;
  z-index: 50;
  background-color: white;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
}

nav h1 {
  text-align: center;
  height: 100%;
  width: auto;
  margin: 0;
}

nav .h1_wrap {
  order: 20;
  flex-grow: 1;
}

.logo {
  position: relative;
  order: 10;
  height: 100%;
  width: 100%;
}

nav .logo_wrap {
  max-height: 100px;
  max-width: 100px;
  min-height: 50px;
  min-width: 50px;
  display: flex;
  margin-left: 20px;
}

nav ul {
  order: 30;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  margin-right: 30px;
  height: inherit;
}

nav li {
  flex-grow: 1;
  margin-left: 2px;
  margin-right: 2px;
  text-align: center;
}

nav a,
nav a:visited {
  color: inherit;
  text-decoration: none;
}

.current_nav {
  font-weight: 600;
}

/*  Main  */

.text_main {
  margin: 4rem 120px 4rem 120px;
  padding: 1rem;
  border: 1px solid black;
  background-color: white;
}

.ital_text {
  font-style: italic;
}

.flex_inline_spread {
  display: flex;
  justify-content: space-between;
}


/* Tables */

.table {
  width: 100%;
  margin-bottom: 3rem;
}

.empty_table_row {
  height: 1em;
}

th {
  text-align: left;
}

tr iframe {
  margin-top: 10px;
  margin-bottom: 20px;
  border-radius: 5%;
}

/* Forms */

#text_registration form {
  max-width: 550px;
  clear: right;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.flex_container {
  display: flex;
}

.column {
  flex-direction: column;
}

.flex_container span {
  margin: 8px;
}

.radio_container {
  flex-wrap: wrap;
}

.radio_container label {
  align-self: center;
}

.radio_container span,
.checkbox_container span {
  display: inline-block;
}

form button {
  height: 30px;
  width: 110px;
  border-radius: 5px;
  font-family: inherit;
  background-color: #e9e9e9;
}

form button:hover {
  background-color: #d9d3d3;
}

form h5 {
  margin-bottom: 0.5em;
}

form select {
  margin-top: 1em;
  margin-bottom: 1em;
}

.form_text_container {
  display: inline-flex;
  justify-content: space-between;
}

.form_text_container input {
  width: 40%;
}
